<mat-card class="sheep-detail-card">
    <mat-card-header> <h3>PLACEHOLDER</h3></mat-card-header>
    <mat-card-content>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis cumque, esse laudantium
            magnam modi molestias numquam perspiciatis porro quisquam quos, tempore totam, voluptas. Dolore id odio
            quis. Delectus, ipsa.
        </div>
        <div>Ad aliquam aspernatur assumenda consequatur cupiditate error ex expedita facere nesciunt optio perspiciatis
            quae quam recusandae sapiente, sequi sunt tempora ut velit veritatis voluptas? Dolor dolorum officia
            perferendis quae reprehenderit.
        </div>
        <div>Ab accusamus, aliquid aspernatur beatae blanditiis consequatur corporis culpa dolorem doloribus eius esse
            illum magni nemo nihil, officiis placeat praesentium quam quisquam rem repellendus, saepe suscipit tempora
            voluptatibus! Facilis, voluptates?
        </div>
    </mat-card-content>
    <mat-card-footer>
        10/10/1900
    </mat-card-footer>
</mat-card>