<mat-card class="sheep-detail-card">
    <mat-card-header>
        <ngx-skeleton-loader animation="progress" />
    </mat-card-header>
    <mat-card-content>
        <ngx-skeleton-loader animation="progress" />
        <ngx-skeleton-loader animation="progress" />
        <ngx-skeleton-loader animation="progress" />
        <ngx-skeleton-loader animation="progress" />
    </mat-card-content>
    <mat-card-footer>
        <ngx-skeleton-loader animation="progress" />
    </mat-card-footer>
</mat-card>
<mat-card class="sheep-detail-card">
    <mat-card-header>
        <ngx-skeleton-loader animation="progress" />
    </mat-card-header>
    <mat-card-content>
        <ngx-skeleton-loader animation="progress"  />
        <ngx-skeleton-loader animation="progress"  />
        <ngx-skeleton-loader animation="progress"  />
        <ngx-skeleton-loader animation="progress"  />
    </mat-card-content>
    <mat-card-footer>
        <ngx-skeleton-loader animation="progress" />
    </mat-card-footer>
</mat-card>
<mat-card class="sheep-detail-card">
    <mat-card-header>
        <ngx-skeleton-loader animation="progress" />
    </mat-card-header>
    <mat-card-content>
        <ngx-skeleton-loader animation="progress" />
        <ngx-skeleton-loader animation="progress" />
        <ngx-skeleton-loader animation="progress" />
        <ngx-skeleton-loader animation="progress" />
    </mat-card-content>
    <mat-card-footer>
        <ngx-skeleton-loader animation="progress" />
    </mat-card-footer>
</mat-card>