<div class="search">
    <mat-form-field class="example-form-field">
        <mat-label>Filter</mat-label>
        <input matInput type="text" [(ngModel)]="searchValue">
        @if (searchValue()) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="searchValue.set('')">
                <mat-icon>close</mat-icon>
            </button>
        }
    </mat-form-field>
</div>

<div class="sheep-grid">
    @for(sheep of sheepFilteredList(); track sheep.id){
        <app-sheep-summary-card [sheep]="sheep" (likeChanged)="likeChanged($event)"/>
    } @empty {
        <p>No sheep found.</p>
    }
</div>